<header class="h-16 flex items-center justify-between pr-6 md:gap-0 gap-4 text-white">
    <div class="flex items-center gap-3">
        <button id="menuBtn" class="md:hidden text-white p-4">
            <svg class="white-icon shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
        <div class="flex items-center gap-2 text-white text-xl p-4">
            <img src="/assets/Logo blanco.svg" class="w-12 h-12" alt="Logo">
            <h1>NeuPsi-Pro</h1>
        </div>
    </div>

    <div class="flex items-center gap-3">
        <div class="w-8 h-8 bg-gray-300 rounded-full"></div>
        <button>
            <svg class="white-icon shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0..." />
            </svg>
        </button>
    </div>
</header>