<div>
    <div class="space-y-4 max-w-xl mt-3">

        <div>
            <label class="input_label">Consulta inicial</label>
            <textarea id="initialConsultation" maxlength="1000" rows="5"
                      class="input resize-none" placeholder="Notas de la consulta inicial" oninput="this.value = this.value.replace(/[^\w\s.,;:?!()áéíóúÁÉÍÓÚñÑüÜ-]/g, '')"></textarea>
            <span class="char-counter text-xs text-gray-400 mt-1" data-target="initialConsultation" data-max="1000">0/1000</span>
        </div>

        <div>
            <label class="input_label">Seguimiento</label>
            <textarea id="followUpNotes" maxlength="1000" rows="5"
                      class="input resize-none" placeholder="Notas de seguimiento" oninput="this.value = this.value.replace(/[^\w\s.,;:?!()áéíóúÁÉÍÓÚñÑüÜ-]/g, '')"></textarea>
            <span class="char-counter text-xs text-gray-400 mt-1" data-target="followUpNotes" data-max="1000">0/1000</span>
        </div>

    </div>
</div>
