<div>
    <div class="mt-4">
        <textarea id="conclusions" maxlength="1000" rows="6" class="input resize-none"
            placeholder="Notas"></textarea>

        <p class="text-xs text-gray-400 mt-1">
            <span class="char-counter" data-target="conclusions" data-max="1000">0/1000</span> caracteres
        </p>
    </div>
</div>
