<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>NeuPsi-Pro</title>
        <link rel="stylesheet" href="../css/output.css">

    </head>
    <body class="bg-[#BA8700]">

        <section>
            <div class="bg-[url('../assets/login-form-blue.svg')] w-[1500px] h-[1500px] lg:w-[2000px] lg:h-[2000px] bg-cover bg-no-repeat fixed bottom-0 right-0"></div>
            <div class="bg-[url('../assets/login-form-gray.svg')] w-[800px] h-[800px] lg:w-[1000px] lg:h-[1000px] 2xl:w-[1500px] 2xl:h-[1500px] bg-cover bg-no-repeat fixed bottom-0 left-0"></div>
        </section>


    </body>
</html>