<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>NeuPsi-Pro</title>
        <link rel="stylesheet" href="../css/output.css">

    </head>
    <body class="bg-[#BA8700]">

        <section>
            <div class="login-triangle-blue"></div>
            <div class="login-triangle-gray"></div>
            <div class="flex flex-col items-center justify-center">
                <img src="../assets/enes-white-logo.svg" alt="Logo ENES" class="logo-white"/>
                <h1 class="title">NeuPsi-Pro</h1>
            </div>
        </section>


    </body>
</html>