<div>
    <h2 class="section_title">Datos del Paciente</h2>

    <div class="mt-4 space-y-4">
        <!--Reference number-->
        <div>
            <label class="input_label">Folio de referencia</label>
            <input type="text" id="referenceNumber" class="input bg-gray-100 text-gray-500" disabled>
        </div>

        <!--Full name-->
        <div>
            <label class="input_label">Nombre completo</label>
            <input type="text" id="fullName" class="input bg-gray-100 text-gray-500" disabled>
        </div>

        <!--Email-->
        <div>
            <label class="input_label">Correo electrónico</label>
            <input type="text" id="email" class="input bg-gray-100 text-gray-500" disabled>
        </div>

        <!--Phone-->
        <div>
            <label class="input_label">Teléfono</label>
            <input type="text" id="userPhone" class="input bg-gray-100 text-gray-500" disabled>
        </div>

        <!--Birthdate-->
        <div>
            <label class="input_label">Fecha de nacimiento</label>
            <input type="text" id="birthdate" class="input bg-gray-100 text-gray-500" disabled>
        </div>

        <!--Age-->
        <div>
            <label class="input_label">Edad</label>
            <input type="text" id="age" class="input bg-gray-100 text-gray-500" disabled>
        </div>

        <!--Laterality-->
        <div>
            <label class="input_label">Lateralidad</label>
            <input type="text" id="laterality" class="input bg-gray-100 text-gray-500" disabled>
        </div>
    </div>
</div>
