<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content" />
        <title>Golondrina</title>
        <link rel="stylesheet" href="../css/output.css">

    </head>
    <body class="bg-[#BA8700]">

        <section>
            <div class="login-triangle-blue"></div>
            <div class="login-triangle-gray"></div>
            <div class="flex flex-col items-center justify-center mt-7">
                <img src="../assets/enes-white-logo.svg" alt="Logo ENES" class="logo-white"/>
                <h1 class="title">Golondrina</h1>
            <form id="loginForm" action="/auth/login" method="POST">
                <input type="hidden" name="x-csrf-token" value="<%= csrfToken %>">
                <div class="login-form">

                    <!-- Usuario -->
                    <div class="input-div">
                        <label>Usuario</label>
                        <input id="username" type="text" name="username" placeholder="carlos_lopez" class="input-base" maxlength="30" >
                        <small id="usernameMessage" hidden>Alcanzaste el límite de caracteres permitido</small>
                    </div>

                    <!-- Contraseña -->
                    <div class="input-div">
                        <label>Contraseña</label>
                        <input id="password" type="password" name="password" placeholder="***********" class="input-base pr-12" maxlength="30" >
                        <small id="passwordMessage" hidden>Alcanzaste el límite de caracteres permitido</small>
                        <!-- Icono -->
                        <svg id="togglePassword" class="w-7 h-7 absolute right-3 top-9 text-gray-400 cursor-pointer"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                            <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                        </svg>
                    </div>

                    <div id="errorMessage"
                        class="text-center"
                        style="color: red; background-color: #fee2e2; padding: 10px; border-radius: 5px; margin-bottom: 15px; <%= locals.error ? '' : 'display: none;' %>">
                        <p id="errorText"><%= locals.error || 'Por favor, llena todos los campos.' %></p>
                    </div>
                    
                    <button type="submit" class="btn-big bg-[#3350A9]">
                        <svg class="white-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                        <span>Iniciar Sesión</span>
                    </button>

                    <!--Recuperar contraseña-->
                    <button type="button" id="recoverPassword" class="recover-password">
                        <span >¿Olvidaste la contraseña?</span>
                    </button>

                    <dialog id="popUp" class="pop-up">
                        <h2>
                            Por favor contacta a los administradores de la aplicación para reestablecer tus credenciales.
                        </h2>
                        <button type="button" id="closePopUp" class="bg-red-500 btn-mini text-white mx-auto mt-7">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>  
                            Cerrar
                        </button>
                    </dialog>

                    </div>
                
                    </div>
                </form>
        </section>


    </body>
    <script src="/js/main.js"></script>
</html>