<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario - NeuPsi-Pro</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-[#0A2472] flex h-screen lg:flex-row transition-transform duration-300">

    <div id="overlay" class="fixed inset-0 bg-black/40 hidden md:hidden"></div>

    <!-- Sidebar -->
    <%- include('../partials/sidebar') %>

    <div class="flex-1 flex flex-col overflow-hidden">

        <!-- Header -->
        <%- include('../partials/header') %>

        <!-- Main -->
        <main class="flex-1 p-6 pb-0 md:pl-0 overflow-hidden">
            <div class="w-full h-full bg-white rounded-3xl p-6 overflow-y-auto space-y-6 mt-6">

                <!--Main Header-->
                <div>
                    <div class="flex items-center gap-4 mb-5">
                        <a href="/clinical">
                            <button class="cursor-pointer pb">
                                <svg class="black-icon shrink-0 size-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                            </button>
                        </a>
                        <h1 class="text-2xl font-bold text-[#1E1E1E]">
                            Usuario clínico
                        </h1>
                    </div>
                    
                    <hr class="border-3 rounded-2xl border-[#002B7A]">
                </div>
                
                
                <!-- User info -->
                <div class="relative grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8 items-center border rounded-2xl border-gray-300 p-6 mt-6">

                    <button class="absolute top-4 right-4 p-2 text-gray-500 hover:text-gray-800 hover:bg-gray-100 rounded-full transition-colors cursor-pointer" aria-label="Opciones de usuario">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                        </svg>
                    </button>
                    <!-- Clinical Name -->
                   <div class="flex flex-col items-center justify-center text-center gap-2">                

                        <p id="clinicalName" class="text-lg font-semibold"></p>
                    </div>

                    <!-- First Column -->
                    <div class="space-y-4">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 md:w-6 md:h-6 shrink-0" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 1.98485H11.8641V13.3484H0.5V1.98485ZM14.1668 7.66626L21.3334 0.5L28.5 7.66626L21.3334 14.8325L14.1668 7.66626ZM0.5 17.1365H11.8641V28.5H0.5V17.1365ZM15.6524 17.1365H27.0165V28.5H15.6524V17.1365Z" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span class="text-gray-600">Actividad:</span>
                            <span class="font-medium" id="activity"></span>
                        </div>
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 md:w-6 md:h-6 shrink-0" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.75 12.3056V19.5278C28.75 22.9323 28.75 24.6339 27.7252 25.6927C26.699 26.75 25.0498 26.75 21.75 26.75H7.75C4.4502 26.75 2.7996 26.75 1.7748 25.6927C0.75 24.6339 0.75 22.9323 0.75 19.5278V12.3056C0.75 10.2833 0.75 9.27222 1.1308 8.49944C1.46642 7.81962 2.0021 7.26694 2.661 6.92067C3.41 6.52778 4.39 6.52778 6.35 6.52778L11.39 2.62778C13.0084 1.37544 13.8162 0.75 14.75 0.75C15.6838 0.75 16.4916 1.37544 18.11 2.62778L23.15 6.52778C25.11 6.52778 26.09 6.52778 26.839 6.92067C27.4974 7.26718 28.0325 7.81984 28.3678 8.49944C28.75 9.27222 28.75 10.2833 28.75 12.3056Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M11.95 26.7504V22.4171C11.95 21.6509 12.245 20.9161 12.7701 20.3743C13.2952 19.8326 14.0074 19.5282 14.75 19.5282C15.4926 19.5282 16.2048 19.8326 16.7299 20.3743C17.255 20.9161 17.55 21.6509 17.55 22.4171V26.7504M7.05002 12.306H5.65002V13.7504H7.05002V12.306ZM7.05002 18.806H5.65002V20.2504H7.05002V18.806ZM23.85 12.306H22.45V13.7504H23.85V12.306ZM23.85 18.806H22.45V20.2504H23.85V18.806ZM14.75 13.7504C15.4926 13.7504 16.2048 13.4461 16.7299 12.9043C17.255 12.3625 17.55 11.6277 17.55 10.8615C17.55 10.0954 17.255 9.36056 16.7299 8.81879C16.2048 8.27702 15.4926 7.97266 14.75 7.97266C14.0074 7.97266 13.2952 8.27702 12.7701 8.81879C12.245 9.36056 11.95 10.0954 11.95 10.8615C11.95 11.6277 12.245 12.3625 12.7701 12.9043C13.2952 13.4461 14.0074 13.7504 14.75 13.7504Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span class="text-gray-600">Afiliación:</span>
                            <span class="font-medium" id="afiliation"></span>
                        </div>
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 md:w-6 md:h-6 shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>

                            <span class="text-gray-600">Horas:</span>
                            <span class="font-medium" id="hours"></span>
                        </div>
                        
                    </div>

                    <!-- Second Column -->
                    <div class="space-y-4">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 md:w-6 md:h-6 shrink-0" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.6 0H8.8C7.63305 0 6.51389 0.465788 5.68873 1.2949C4.86357 2.124 4.4 3.24852 4.4 4.42105V10.3158H5.86667V4.42105C5.86667 3.63936 6.17571 2.88969 6.72582 2.33695C7.27593 1.78421 8.02203 1.47368 8.8 1.47368H17.6C18.378 1.47368 19.1241 1.78421 19.6742 2.33695C20.2243 2.88969 20.5333 3.63936 20.5333 4.42105V23.5789C20.5333 24.3606 20.2243 25.1103 19.6742 25.6631C19.1241 26.2158 18.378 26.5263 17.6 26.5263H8.8C8.02203 26.5263 7.27593 26.2158 6.72582 25.6631C6.17571 25.1103 5.86667 24.3606 5.86667 23.5789V17.6842H4.4V23.5789C4.4 24.7515 4.86357 25.876 5.68873 26.7051C6.51389 27.5342 7.63305 28 8.8 28H17.6C18.767 28 19.8861 27.5342 20.7113 26.7051C21.5364 25.876 22 24.7515 22 23.5789V4.42105C22 3.24852 21.5364 2.124 20.7113 1.2949C19.8861 0.465788 18.767 0 17.6 0ZM0 13.2632H15.0333L10.2667 8.47368L11.2347 7.36842L17.8347 14L11.2347 20.6316L10.2667 19.5263L15.0333 14.7368H0V13.2632Z" fill="black"/>
                            </svg>
                            <span class="text-gray-600">Fecha de ingreso:</span>
                            <span class="font-medium" id="prosthetist"></span>
                        </div>
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 md:w-6 md:h-6 shrink-0" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.44468 0H10.334C11.2476 0 12.1238 0.465788 12.7698 1.2949C13.4158 2.124 13.7787 3.24852 13.7787 4.42105V10.3158H12.6305V4.42105C12.6305 3.63936 12.3885 2.88969 11.9579 2.33695C11.5272 1.78421 10.9431 1.47368 10.334 1.47368H3.44468C2.83562 1.47368 2.25151 1.78421 1.82084 2.33695C1.39017 2.88969 1.14823 3.63936 1.14823 4.42105V23.5789C1.14823 24.3606 1.39017 25.1103 1.82084 25.6631C2.25151 26.2158 2.83562 26.5263 3.44468 26.5263H10.334C10.9431 26.5263 11.5272 26.2158 11.9579 25.6631C12.3885 25.1103 12.6305 24.3606 12.6305 23.5789V17.6842H13.7787V23.5789C13.7787 24.7515 13.4158 25.876 12.7698 26.7051C12.1238 27.5342 11.2476 28 10.334 28H3.44468C2.53109 28 1.65492 27.5342 1.00892 26.7051C0.36292 25.876 0 24.7515 0 23.5789V4.42105C0 3.24852 0.36292 2.124 1.00892 1.2949C1.65492 0.465788 2.53109 0 3.44468 0ZM6.88935 13.2632H19.8069L16.0752 8.47368L16.833 7.36842L22 14L16.833 20.6316L16.0752 19.5263L19.8069 14.7368H6.88935V13.2632Z" fill="black"/>
                            </svg>
                            <span class="text-gray-600">Fecha de salida:</span>
                            <span class="font-medium" id="prosthetist"></span>
                        </div>   
                    </div>
                </div>

                <!--Emrgency Contact--> 
                    <div id="emergencyContactCard"
                        class="flex flex-col md:flex-row md:items-center justify-between rounded-3xl p-4 w-full gap-4">

                        <div class="flex items-center justify-center md:justify-start gap-4 w-full md:w-auto md:mb-0">
                            <div class="rounded-xl p-2">
                                <svg class="w-8 h-8" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">

                                    <path d="M26.16 5.24993H23.625V4.45493C23.6173 4.26642 23.5723 4.0813 23.4925 3.91033C23.4127 3.73936 23.2998 3.58593 23.1602 3.45895C23.0207 3.33197 22.8573 3.23396 22.6796 3.17062C22.5019 3.10727 22.3134 3.07984 22.125 3.08993H13.875C13.6866 3.07984 13.498 3.10727 13.3203 3.17062C13.1426 3.23396 12.9792 3.33197 12.8397 3.45895C12.7002 3.58593 12.5872 3.73936 12.5075 3.91033C12.4277 4.0813 12.3826 4.26642 12.375 4.45493V5.24993H9.83997C8.8454 5.24993 7.89158 5.64502 7.18832 6.34828C6.48505 7.05154 6.08997 8.00537 6.08997 8.99993V29.1599C6.08997 30.1545 6.48505 31.1083 7.18832 31.8116C7.89158 32.5148 8.8454 32.9099 9.83997 32.9099H26.16C27.1545 32.9099 28.1084 32.5148 28.8116 31.8116C29.5149 31.1083 29.91 30.1545 29.91 29.1599V8.99993C29.91 8.00537 29.5149 7.05154 28.8116 6.34828C28.1084 5.64502 27.1545 5.24993 26.16 5.24993ZM13.875 4.58993L22.125 4.60493V6.28493C22.125 7.19993 21.09 7.96493 19.875 7.96493H16.125C14.895 7.96493 13.875 7.19993 13.875 6.28493V4.58993ZM28.41 29.1599C28.406 29.7555 28.1677 30.3255 27.7466 30.7466C27.3255 31.1677 26.7555 31.406 26.16 31.4099H9.83997C9.24323 31.4099 8.67093 31.1729 8.24898 30.7509C7.82702 30.329 7.58997 29.7567 7.58997 29.1599V8.99993C7.58997 8.40319 7.82702 7.83089 8.24898 7.40894C8.67093 6.98698 9.24323 6.74993 9.83997 6.74993H12.42C12.6246 7.56316 13.1068 8.27942 13.7832 8.77509C14.4596 9.27077 15.2879 9.51475 16.125 9.46493H19.875C20.7121 9.51475 21.5403 9.27077 22.2167 8.77509C22.8931 8.27942 23.3753 7.56316 23.58 6.74993H26.16C26.7567 6.74993 27.329 6.98698 27.751 7.40894C28.1729 7.83089 28.41 8.40319 28.41 8.99993V29.1599Z" fill="black"/>

                                    <path d="M21.75 19.0654C21.75 19.2643 21.671 19.4551 21.5303 19.5958C21.3897 19.7364 21.1989 19.8154 21 19.8154H18.75V22.0654C18.75 22.2643 18.671 22.4551 18.5303 22.5958C18.3897 22.7364 18.1989 22.8154 18 22.8154C17.8011 22.8154 17.6103 22.7364 17.4697 22.5958C17.329 22.4551 17.25 22.2643 17.25 22.0654V19.8154H15C14.8011 19.8154 14.6103 19.7364 14.4697 19.5958C14.329 19.4551 14.25 19.2643 14.25 19.0654C14.25 18.8665 14.329 18.6758 14.4697 18.5351C14.6103 18.3944 14.8011 18.3154 15 18.3154H17.25V16.0654C17.25 15.8665 17.329 15.6758 17.4697 15.5351C17.6103 15.3944 17.8011 15.3154 18 15.3154C18.1977 15.3193 18.3863 15.3995 18.5261 15.5393C18.6659 15.6792 18.7462 15.8677 18.75 16.0654V18.3154H21C21.1977 18.3193 21.3863 18.3995 21.5261 18.5393C21.6659 18.6792 21.7462 18.8677 21.75 19.0654Z" fill="black"/>

                                </svg>
                            </div>
                            <div>
                                <h3 class="text-xl font-semibold text-black text-center md:text-left">
                                    Contacto de emergencia
                                </h3>
                            </div>
                        </div>

                        <div class="flex flex-col md:flex-row items-center gap-3 w-full md:w-auto">
                            
                            
                        </div>
                    </div>

                


        </main>

    </div>


   <script>
        window.__USER_DATA__ = <%- JSON.stringify(usuario).replace(/</g, '\\u003c') %>;
    </script>
    <script src="/js/sidebar.js"></script>

  </body>
</html>