<div class="space-y-8">
    <h2 class="section_title">Desglose de Egresos</h2>

    <!--Expenses List-->
    <div>
        <!--Food-->
        <div class="expenses_input">
            <label class="input_label">Alimentación / despensa</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="food" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Rent-->
        <div class="expenses_input">
            <label class="input_label">Renta / hipoteca</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="rent" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Services-->
        <div class="expenses_input">
            <label class="input_label">Luz, Agua, Gas e Internet</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="services" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Gas-->
        <div class="expenses_input">
            <label class="input_label">Gasolina</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="gas" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--School-->
        <div class="expenses_input">
            <label class="input_label">Educación</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="school" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Wardrope-->
        <div class="expenses_input">
            <label class="input_label">Vestido</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="wardrope" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Medic-->
        <div class="expenses_input">
            <label class="input_label">Atención Médica</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="medic" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Transport-->
        <div class="expenses_input">
            <label class="input_label">Transporte</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="transport" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Credit-->
        <div class="expenses_input">
            <label class="input_label">Abonos / Crédito</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="credit" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Phone-->
        <div class="expenses_input">
            <label class="input_label">Teléfono</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="phone" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>

        <!--Others-->
        <div class="expenses_input border-0">
            <label class="input_label">Otros ej. diversión, salidas</label>
            <div class="flex justify-end">
                <input type="number" min="0" id="others" class="expense-value input max-w-40" placeholder="$0.00">
            </div>            
        </div>
    </div>

    <!-- Total Expenses-->
    <div class="flex justify-end mt-6">
        <div class="total flex items-center gap-2">
            <span class="font-bold whitespace-nowrap">
                Total de Egresos:
            </span>

            <span id="totalExpenses" class="font-normal">
                $0.00
            </span>
        </div>
    </div>

    <div class="pb-4">
        <!--Economic Situation-->
        <div class="pt-2">
            <label class="input_label">Situación Económica</label>
            <input type="text" id="economicSituation" class="input" placeholder="">
        </div>

        <!--Salary after-->
        <div class="pt-2">
            <label class="input_label">Número de dependientes económicos</label>
            <input type="number" min="0" id="numDependants" class="input" placeholder="0">
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get expenses total
        const expensesInputs = document.querySelectorAll('.expense-value');

        function getValue(input) {
            return parseFloat(input.value) || 0;
        }

        // Make the sum
        function calculateExpenses() {
            let total = 0;

            expensesInputs.forEach(input => {
                total += getValue(input);
            });

            document.getElementById('totalExpenses').value = total;
            
        }

        // Listen changes
        expensesInputs.forEach(input => {
            input.addEventListener('input', calculateExpenses);
        });

        // Let the function use it globally
        window.calculateExpenses = calculateExpenses;

        // inicial
        calculateExpenses();
    });
</script>