<footer class="shrink-0 flex items-center justify-center gap-4 px-6 bg-[#0A2472] text-white"> 
  <div class="flex items-center gap-3">
    <img src="/assets/neuropsicologia.svg" class="h-24 shrink-0" alt="Logo">
    <span class="text-xs text-center">
      Neurogolondrina es un proyecto llevado a cabo por la colaboración de<br>
      La Marquesa de Golden Strand en desarrollo,<br>
      Mayerik como autor intelectual,<br>
      Dra. Alina Jiménez como líder de proyecto.<br>
      En colaboración con la ENES Juriquilla- UNAM<br>
    </span>
  </div>
</footer>