<!--Sections Sidebar-->


<div class="relative flex flex-row lg:flex-col gap-4  lg:min-w-0">
  <!-- vertical line desktop -->
  <div class="hidden lg:block absolute left-2.5 top-2 bottom-2 w-0.5 bg-gray-200"></div>

  <!--SubStep 1: Ingressos y Egresos-->
  <div class="subStep timeline-step" data-step="1">
    <div class="circle timeline-circle">1</div>
    <div>
      <p class="title timeline-title">Ingresos y Egresos</p>
      <p class="status timeline-status">Pendiente</p>
    </div>
  </div>

  <!--SubStep 2: ESC Gubernamental-->
  <div class="subStep timeline-step" data-step="2">
    <div class="circle timeline-circle">2</div>
    <div>
      <p class="title timeline-title">ESC Gubernamental</p>
      <p class="status timeline-status">Pendiente</p>
    </div>
  </div>

  <!--SubStep 3: Cuestionarios AMAI-->
  <div class="subStep timeline-step" data-step="3">
    <div class="circle timeline-circle">3</div>
    <div>
      <p class="title timeline-title">Cuestionarios AMAI</p>
      <p class="status timeline-status">Pendiente</p>
    </div>
  </div>

  <!--SubStep 4: Resumen de Resultados-->
  <div class="subStep timeline-step" data-step="4">
    <div class="circle timeline-circle">4</div>
    <div>
      <p class="title timeline-title">Resumen de Resultados</p>
      <p class="status timeline-status">Pendiente</p>
    </div>
  </div>

</div>