<!--Sections Sidebar-->


<div class="relative flex flex-row lg:flex-col gap-4  lg:min-w-0">
  <!-- vertical line desktop -->
  <div class="hidden lg:block absolute left-2.5 top-2 bottom-2 w-0.5 bg-gray-200"></div>

  <!--SubStep list: rebuilt per phase (Identificación, Financiero, ...) by sidebarTimeline.js-->
  <div id="sidebar-timeline-list" class="contents"></div>

</div>