<!-- STEPS -->
<div class="flex gap-3">

    <!-- STEP 1 -->
    <div data-step="1" class="step">

        <div class="progress hidden">
            <div class="dots-container">
                <span>Actual</span>
            </div>
        </div>

        <div class="text-container">
            <div>
                <p class="status-label invisible">Completada</p>
                <p class="step-title step-title-strong">1. Ficha de Identificación</p>
            </div>

            <div class="complete-check">
                <svg class="check invisible" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                    <path d="M5 13l4 4L19 7"/>
                </svg>
            </div>
        </div>

        <div class="lineunder hidden"></div>
    </div>


    <!-- STEP 2 -->
    <div data-step="2" class="step">

        <div class="progress hidden">
            <div class="dots-container">
                <span>Actual</span>
            </div>
        </div>

        <div class="text-container">
            <div>
                <p class="status-label invisible">Completada</p>
                <p class="step-title step-title-strong">2. Nivel Socioeconómico</p>
            </div>

            <div class="complete-check">
                <svg class="check invisible" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                    <path d="M5 13l4 4L19 7"/>
                </svg>
            </div>
        </div>

        <div class="lineunder hidden"></div>
    </div>


    <!-- STEP 3 -->
    <div data-step="3" class="step step-muted">

        <div class="progress hidden">
            <div class="dots-container">
                <span>Actual</span>
            </div>
        </div>

        <div class="text-container">
            <div>
                <p class="status-label invisible">Completada</p>
                <p class="step-title step-title-light">3. Historia Clínica</p>
            </div>

            <div class="complete-check">
                <svg class="check invisible" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                    <path d="M5 13l4 4L19 7"/>
                </svg>
            </div>
        </div>

        <div class="lineunder hidden"></div>
    </div>

</div>