@layer components {
  /* Boton grande (icono + texto)*/
  .btn-big {
    @apply flex items-center justify-center gap-3 md:gap-4;
    @apply px-6 py-3 md:px-10 md:py-4 text-white font-medium rounded-lg;

    @apply w-full sm:w-[260px] md:w-[306px];
    @apply h-[44px] md:h-[53px];

    @apply text-base md:text-xl;
    @apply hover:brightness-125 hover:scale-[1.05] hover:shadow-xl active:scale-95 transition-all duration-200;
  }
  /* Boton pequeño (icono + texto)*/
  .btn-mini {
    @apply flex items-center justify-center gap-2;
    @apply px-3 py-2 md:px-4 text-white font-medium rounded-lg;

    @apply w-auto md:w-[138px];
    @apply h-[34px] md:h-[40px];

    @apply text-sm md:text-base;
    @apply hover:brightness-125 hover:scale-[1.05] hover:shadow-xl active:scale-95 transition-all duration-200;
  }
  /* Boton status (texto)*/
  .btn-status {
    @apply flex items-center justify-center;

    @apply w-full sm:w-[150px] md:w-[179px];
    @apply h-[34px] md:h-[40px];

    @apply rounded-[8px] transition-all duration-300;
    @apply text-xs sm:text-sm md:text-base font-normal;
    @apply hover:brightness-110 active:scale-95 shadow-sm;
  }

  /*  --BOTONES DE BARRA LATERAL --*/
  .nav-button {
    @apply flex items-center justify-start; 
    @apply w-full h-[48px] pl-4 pr-0 gap-3 md:gap-4;
    @apply rounded-l-[10px] cursor-pointer transition-all duration-200;
  
    /* Estado inicial*/
    @apply bg-transparent text-white;
  }

  .nav-button:hover, .nav-button.active {
    @apply bg-white text-[#002B7A] font-bold;
  }

  /* Ajuste para los iconos y texto internos */
  .nav-button svg, .nav-button span {
    color: inherit;
    stroke: currentColor; 
  }
  .nav-button__text {
    /* Ajuste para texto*/
    @apply block text-base lg:text-[18px] leading-none;
    color: inherit;    
  }
  .btn-badge {
  @apply inline-flex items-center justify-center;
  @apply px-3 py-1;
  @apply rounded-lg border;
  @apply text-xs font-semibold whitespace-nowrap;
  @apply cursor-default select-none;
  width: 9rem;
  }
}